body {
  margin: 0;
}

.audio-streaming-player {
  padding: 10px 20px 0;
  width: 410px;
  background: #F8F9FB;
  border: none;
}

.play {
  width: 64px;
  height: 64px;
  background: url(play.svg) no-repeat 0 0;
  cursor: pointer;
}

.pause {
  width: 64px;
  height: 64px;
  background: url(pause.svg) no-repeat 0 0;
  cursor: pointer;
}